<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>主页</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/index.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-ghost" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img width="50" src="../static/images/band.png" alt="logo">
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
    {% for questionDict in questionList %}
      <div class="jumbotron question col-sm-10 col-sm-offset-1">
        
        <div class="title">{{ questionDict["title"] }}</div>
        <div class="time">{{ questionDict["time"] }}</div>
        <div class="author">{{ questionDict["author"] }}</div>
        <div class="clearfix"></div>
        <div class="text">{{ questionDict["text"] }}</div>
        <button class="replyBtn btn btn-primary">回复TA</button>

        
        <div class="clearfix"></div>
        {% for replyDict in questionDict["reply"]%}
        <div class="jumbotron reply col-sm-10 col-sm-offset-2">
          <div class="replyTxt">{{ replyDict["text"] }}</div>
          <div class="replyTime">{{ replyDict["time"] }}</div>
          <div class="replyAuthor">{{ replyDict["author"] }}</div>
        </div>
        {% end %}

        
      </div>
    {% end %}

    </div>
  </body>
</html>