<!DOCTYPE html>
<html>
	<!-- CSE 190 M Homework 4 (NerdLuv) -->
	<head>
		<title>NerdLuv</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<link href="heart.gif" type="image/gif" rel="shortcut icon" />
		<link href="{{ static_url("nerdluv.css") }}" type="text/css" rel="stylesheet" />
	</head>

	<body>
		<div id="main">
			<div id="bannerarea">
				<img src="{{ static_url("images/nerdluv.png") }}" alt="banner logo" /> <br />
				where meek geeks meet
			</div>

			<div class="headline">
				Returning user:	
			</div>

			<form class="myform" action="/" method="get">
				<div>
					<strong>Name:</strong>
					<input type="text" name="old_user" class="_name"/>
				</div>
				<div>
					<input type="submit", name="bottom" value="View my matches" class="signup">
				</div>
			</form>

			<div class="headline">
				New User Signup:	
			</div>

			<form class="myform" action="/" method="post">

				<div>
					<strong>Name:</strong>
					<input type="text" name="name" class="_name"/>
				</div>

	
				<div>
					<strong>Gender:</strong>
					<input type="radio" name="gender" value="M"/>Male
					<input type="radio" name="gender" value="F" checked/>Female
				</div>
	
				<div>
					<strong>Age:</strong>
					<input type="text" name="age" class="_age"/>
				</div>
	
				<div>
					<strong>Personality type:</strong>
					<input type="text" name="personality" class="personality"/>
					(<a href="http://www.humanmetrics.com/cgi-win/JTypes2.asp">Don't know your type?</a>)
				</div>
	
				<div>
					<strong>Favorite OS:</strong>
					<select name="section">
						<option value="Windows">Windows</option>
						<option value="Mac OS X">Mac OS X</option>
						<option value="Linux">Linux</option>
						<option value="other">other</option>
				    </select>
				</div>


				<div id="seeking">
					<strong>Seeking:</strong>
					<input type="checkbox" name="seeking" value="M" checked/>Male
					<input type="checkbox" name="seeking" value="F"/>Female
				</div>
	
				<div>
					<strong>Between ages:</strong>
					<input type="text" name="ageleft" class="seek"/> and
					<input type="text" name="ageright" class="seek"/>
				</div>
	
				<div>
					<input type="submit", name="bottom" value="sign up" class="signup">
				</div>
			</form>
		</div>
		
		<p>
			Results and page (C) Copyright 2009 NerdLuv Inc.
		</p>

		<div id="w3c">
			<a href="http://validator.w3.org/check/referer">
				<img src="http://www.w3.org/Icons/valid-xhtml11" alt="Valid XHTML 1.1" /></a>
			<a href="http://jigsaw.w3.org/css-validator/check/referer">
				<img src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS" /></a>
		</div>
	</body>
</html>

	