@import url('reset.css');
body {
	background:#000;
	color:#000;
	font-family: 'Terminal Dosis Light', Arial, sans-serif !important;
	font-size:10px;
}
a {
	color:#000;
	text-decoration:none;
}
.bf_background img {
	z-index: -1;
	position: fixed;
	top: 0px;
	left: 0px;
}
.bf_overlay{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	opacity:0.5;
}
.bf_menu{
	background:transparent url(../images/pattern.png) repeat top left;
	width:330px;
	left:0px;
	top:0px;
	height: 100%;
	position:fixed;
}
h1.title{
	color:#fff;
	font-size:8rem;
	padding:0px 0px 20px 20px;
	background: #184545;
}
h1.title span{
	display:block;
	font-size:2.4rem;
	margin:-10px 0px 0px 100px;
}
@media screen and (max-width: 700px){
	.all_head_container{
		position: fixed;
		width: 100%;
		height: 55px;
		z-index: 1;
		background-color: #184545;
	}
	.head_blank{
		height: 100%;
		width: 80%;
		position: absolute;
		left: 20%;
		top: 0;
		background-color: black;
		opacity: 0.6;
	}
	.head_logo {
		width: 20%;
		height: 100%;
		background: #184545;
	}
	.teacher_class_info {
		width:100%;	
		position: absolute;
		top: 7%;
		overflow: hidden;
	}
	.teacher_class_info p{
		color:#fff;
		font-size:2rem;
	}
	.informaion_head{
		width: 100%;
	}
	.my_picture{
		width: 60%;
		height: 60%;
		top: 20%;
		left: 20%;
		position: relative;
	}
	.teacher_img{
		position: relative;
		width : 48%;
	}
	.reference {
		color:#fff;
		font-size:1.5rem;
		position: absolute;
		width: 48%;
		top: 0;
		left: 52%;
		background-color: #4F6262;
	    opacity: 0.6;
	}
	.reference_container{
		width: 80%;
		margin: 18% auto;
		position: relative;
	}
	.exam_material {
		width: 100%;
		line-height: 20px;
		background-color: #4F6262;
	    opacity: 0.6;
	    position: relative;
        margin-top: 8px;
        padding: 10px;
	}
	.exam_material p {
		margin-left: 5%;
	}
	.exam_material li {
		display: block;
		width: 75%;
		position: relative;
		left: 18%;
		color:#fff;
		font-size:1.5rem;
		text-shadow:0px 0px 1px #fff;
	}
	.exam_material a {
		font-size: 2rem;
	}
	.remark_area{
		width: 100%;
	}
	.remark{
		color:#fff;
		width: 60%;
		font-size:2rem;
		text-shadow:0px 0px 1px #fff;
		position: relative;
		margin:0 auto;
	}
	.remark_area li{
		display: block;
		width: 30%;
		margin: 0 auto;
		color:#fff;
		font-size:2rem;
		text-shadow:0px 0px 1px #fff;
	}
	.remark_area p{
		color:#fff;
		font-size:3rem;
	}
	.remark_history {
		position: relative;
		left: 10%;
	}
	.choice{
		display: block;
		vertical-align: top;
    	font-size: 8px !important;
		margin-left: 30px;
	}
	.new_remark{
		width: 90%;
		margin-top: 3%;
		margin-left:6%;
	}
	.new_remark_container{
		position: relative;
		left: 10%;
	}
	.input_area{
		position: relative;
		width: 100%;
		top: 10%;
	}
	.input_area textarea{
		width:100%;
	}
	.input_area form {
		display: inline-block;
		width: 70%;
	}
	.submit {
		display: inline-block;
		vertical-align: top !important;
		font-size: 8px !important;
	}
	.buttons{
		margin-top: 20px;
		width: 100%;
	}
	.back_button{
		width: 16%;
		margin: 0 auto;
	}
	.login_area {
		width: 135px;
		position: absolute;
		right: 0;
		top: 10px;
	}
	.login_area button {
		margin-top: -7px;
	}
	.welcome{
		color:#fff;
		font-size:2rem;
	}
	.loginSignup {
		margin-top: 25%;
		background-color: rgba(199, 157, 110, 0.3);
	}
	.log_in_area{
		opacity: 0.7;
		border-radius:15px !important;
	}
	.overlay{
		position: absolute;
		z-index: -1;
		opacity: 0.6;
		background-color: #4F6262;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
	}
}
.all_head_container h1 {
	font-size: 4rem;
	margin: 0;
	background-color: #184545;
	color: white;
	margin-left: 10px;
}
